{% for image in images %}
    <a href="{{ url('image', {'name': image}) }}">
        <img src="{{ url('thumb', {'name': image}) }}" alt="{{ image }}">
    </a>
    <br>
{% else %}
    No images were found.
{% endfor %}
