{% extends '::base.html.twig' %}

{% block body %}
<div id="imageswrapper">
    {% include 'ViewBundle:Default:_list.html.twig' %}
</div>
<div id="ajaxloader" style="display:none;"><img src="{{ asset('bundles/view/images/ajax-loader.gif') }}" /></div>

<script type="text/javascript">
$(function() {
    var loadImages = true,
        loading = false;
    $(window).scroll(function() {
        if (!loading && loadImages && ($(window).scrollTop() == $(document).height() - $(window).height())) {
            $('#ajaxloader').show();
            $.ajax({
                url: '?marker='+$('#imageswrapper a:last img').attr('alt'),
                beforeSend: function() {
                    loading = true;
                },
                success: function(data) {
                    if (data && data != 'No more images to show.') {
                        $('#imageswrapper').append(data);
                        $('#ajaxloader').hide();
                        loading = false;
                    } else {
                        $('#ajaxloader').html('No more images to show.');
                        loadImages = false;
                    }
                }
            });
        }
    });
});
</script>
{% endblock %}
